#myTable {

}
thead {
	/*position: fixed;
	top: 0px;*/
	height: 30px;
	background-color: lightgrey;
}
/*
.col1 {
    width: 186px;
}
.col2 {
    width: 43px;
}
.col3 {
    width: 36px;
}
.col4 {
    width: 16px;
}
.col5 {
    width: 98px;
}
.col6 {
    width: 100px;
}
.col7 {
    width: 100px;
}
.col8 {
    width: 92px;
}
.col9 {
    width: 100px;
}
.col10 {
    width: 21px;
}
.col11 {
    width: 37px;
}
.col12 {
    width: 48px;
}
.col13 {
    width: 98px;
}
.col4 {
    width: 151px;
}
.col15 {
    width: 113px;
}*/
/*td {
    display: block;
    width: 151px;
}
*/